<!DOCTYPE html>
<html lang="en">
<title>视域分析</title>
<head>
    <meta charset="utf-8">
    <script src="../Build/Cesium/Cesium.js"></script>
    <script src="../JS/Visibility.js"  type="module"></script>
    <script src="../JS/getVoxel.js" ></script>
    <script src="../JS/addResult.js" ></script>
    <link href="../Build/Cesium/Widgets/widgets.css" rel="stylesheet">

</head>
<body>
<div id="cesiumContainer" style="width: 700px; height:400px"></div>


<div style="display: inline;"><button class="cesium-button" onclick="viewAreaAnalysis();">可视域分析</button></div>
<div style="display: inline;"><button class="button"  type="button" onclick="remove();">清除场景建筑</button></div>
<div style="display: inline;"><button class="button"  type="button" onclick="addbuildings();">增场景建筑</button></div>
<div style="display: inline;"><button class="button" type="button" onclick="getVoxel(118.78578641868913,31.91995932753724,0.0003,0);">存储体素可见属性</button></div>
<div style="display: inline;"><button class="button"  type="button" onclick="createRectangles(0,118.78578641868913,31.91995932753724,0.0003,0);">生成体素</button></div>
<input type="number" id="num" name="num" placeholder="请输入排号">
<script>
    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIxNTAyYzE1OC01OWY5LTQ1MmMtOTVlYS0xYmFlODMyNTQzODciLCJpZCI6OTg3NzAsImlhdCI6MTY1NTk4Nzk3N30.bmFlhaxYAHeknbWqgspoPkp2u0UCcdANNP34oMOa-Zw';

    var viewer = new Cesium.Viewer('cesiumContainer', {
        animation: false,    //左下角的动画仪表盘
        geocoder: false,  //搜索框
        homeButton: false,  //home按钮
        sceneModePicker: false, //模式切换按钮
        timeline: false,    //底部的时间轴
        navigationHelpButton: false,  //右上角的帮助按钮，
        fullscreenButton: false,   //右下角的全屏按钮
        baseLayerPicker: true,//隐藏默认底图选择控件
        imageryProvider: new Cesium.UrlTemplateImageryProvider({
            url: '../OSM/roadmap/{z}/{x}/{y}.png',
            fileExtension: "png"
        }),
    });
    viewer._cesiumWidget._creditContainer.style.display = "none";  //删除版权信息
    viewer.terrainShadows = Cesium.ShadowMode.ENABLED;//地形要设置阴影属性
    //聚焦河海校区，设置高度
    let initialPosition = new Cesium.Cartesian3.fromDegrees(118.781, 31.916, 3000);
    let homeCameraView = {
        destination: initialPosition,
    };
    viewer.scene.camera.setView(homeCameraView);

    // var terrainLayer = new Cesium.createWorldTerrain()
    var terrainLayer = new Cesium.CesiumTerrainProvider({
        url: 'http://localhost:8080/HHUTerrain'
    });
    viewer.terrainProvider = terrainLayer;
    viewer.scene.globe.depthTestAgainstTerrain = true;

    /** 加载建筑物*/
    var tileset = new Cesium.Cesium3DTileset({
        url: "http://localhost:8080/Buildings/tileset.json"
    });

    tileset.readyPromise.then(function(tileset) {
        viewer.scene.primitives.add(tileset);
        var heightOffset = 0;  //设置建筑物与地面的高度
        var boundingSphere = tileset.boundingSphere;
        var cartographic = Cesium.Cartographic.fromCartesian(boundingSphere.center);
        var surface = Cesium.Cartesian3.fromRadians(cartographic.longitude, cartographic.latitude, 0.0);
        var offset = Cesium.Cartesian3.fromRadians(cartographic.longitude, cartographic.latitude, heightOffset);
        var translation = Cesium.Cartesian3.subtract(offset, surface, new Cesium.Cartesian3());
        tileset.modelMatrix = Cesium.Matrix4.fromTranslation(translation);
        viewer.zoomTo(tileset, new Cesium.HeadingPitchRange(0.5, -0.2, tileset.boundingSphere.radius * 1.0));
    });


    tileset.style = new Cesium.Cesium3DTileStyle({
        defines: {
            latitudeRadians: 'radians(${max_day})'
        },
        color: "#FFFFF",

    });
</script>

</body>
</html>